BasePortraitProject/proj.win32/Debug.win32/BasePortraitProject.log
BasePortraitProject/proj.win32/Debug.win32/BasePortraitProject.Build.CppClean.log
BasePortraitProject/proj.win32/BasePortraitProject.v12.suo
BasePortraitProject/proj.win32/BasePortraitProject.sdf